<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start the Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Is playing: ' + ${playing}"/>
<p th:text="'Is paused: ' + ${paused}"/>
<a href="/?pause=true">pause</a>
<a href="/?reload=true">rescan files</a>
<form action="/">
    <label for="id">Play Number:</label>
    <input id="id" name="id"/>
    <button>play</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="mov : ${movies}">
        <td th:text="${mov.key}"></td>
        <td> <a th:href="@{'/?id=' + ${mov.key}}"  th:text="${mov.value}" ></a></td>
    </tr>
</table>

</body>
</html>